/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles */
header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-bottom: 2px solid #232323;
}

.logo {
    width: 60px;
    height: auto;
}

#main-home {
    background: linear-gradient(135deg, #badae9, #ebecdb, #a7d5bb);
    height: 400px;
}

html,
body {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f0f2f5;
}

main {
    flex: 1;
}

/* Ensure footer is pushed to the bottom in the column flex layout */
footer {
    margin-top: auto;
    background-color: rgb(181, 211, 213);
}

/* Header */

